/* Enter your custom styles here */
/* Make IconTabFilter items have more space */
.largeTabSpacing .sapMITBFilter {
    margin-right: 1rem !important;  /* space between tabs */
    margin-left: 1rem !important;   /* optional symmetrical spacing */
}

/* Ensure the text isn't squeezed */
.largeTabSpacing .sapMITBText {
    max-width: none !important;
    width: auto !important;
    padding: 0 1rem !important;     /* extra internal padding */
}
.compactGrid .sapUiRespGridSpanL4,
.compactGrid .sapUiRespGridSpanM6 {
    margin-bottom: 0.5rem !important;
}

.compactGrid .sapFCard {
    height: auto !important;
}

.compactGrid .sapFCardContent {
    padding-bottom: 0.5rem !important;
}
.compactGrid .sapUiTinyMarginTop {
    margin-top: 0.25rem !important;
}
.sapMGenericTile{
  height:7rem !important;
}
.sapVizFrame{
  min-height:240px !important;
}
